/* Medium devices (tablets, 768px and up) */
@media (min-width: 600px) {
    h1 {
        font-size: 3.5em;
    }
    .menu {
        margin-top: -20px; 
    }

    img {
        width: 200px;
    }

    .imagem {
        
        width: 70vw;
        transform: translate(10vw,-10vw);
    }

    .logo {
        width: 40%;
    }

    section {
        max-width: 500px;
        font-size: 1em;
    }

    footer {
        font-size: 1em;
        transform: translateY(42vh);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .cabecalho {
        margin-top: -30px;
        margin-bottom: -30px;
    }

    .menu {
        font-size: 1.5em;
        margin: 30px;
    }

    h1 {
        font-size: 4.5em;
    }

    img {
        width: 350px;
    }

    .imagem {
        width: 55vw;
        transform: translate(22vw,-5vh);
    }

    .logo {
        width: 35%;
    }

    section {
        max-width: 800px;
        font-size: 1.4em;
    }

    footer {
        transform: translateY(40vh);
        font-size: 1.3em;
    }
}

@media (min-width: 1024px) {
    .cabecalho {
        margin-top: -50px;
        margin-bottom: -40px;
    }

    .menu {
        font-size: 1.3em;
        margin: 10px;
    }

    h1 {
        font-size: 4.1em;
        
    }

    img {
        width: 300px;

    }

    .imagem {
        width: 40vw;
        transform: translate(30vw,-10vh);
    }

    .logo {
        width: 35%;
    }

    section {
        max-width: 800px;
        font-size: 1.2em;
    }

    footer {
        transform: translateY(35vh);
        font-size: 1.3em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1280px) {
    h1 {
    font-size: 4.7em;
    width: 45%;
    }
    
    .menu {
        font-size: 1.4em;
        margin: 10px;
    }

    .cabecalho {
        margin-top: -50px;
        margin-bottom: -40px;
    }

    img {
        width: 320px;
    }

    .imagem {
        width: 30vw;
        transform: translate(35vw,-6vh);
        
    }

    .logo {
        width: 30%;
    }

    section {
        font-size: 1.1em;
        max-width: 1000px;
    }

    footer {
        font-size: 1.2em;
        transform: translateY(40vh);
    }
}