/* Medium devices (tablets, 768px and up) */
@media (min-width: 600px) {
    .cabecalho {
        margin-left: -70px;
    }

    h1 {
        font-size: 3.8em;
        margin-left: 50px;
    }
    .imagemp, .imagemg, .logo, .logog {
        display: none;
    }

    .imagem {
        display: block;
        width: 300px;
    }

    .menu {
        font-size: 1.1em;
    }

    section {
        max-width: 530px;
        font-size: 1em;
    }

    footer {
        font-size: 1em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .imagemp, .imagemg, .logo {
        display: none;
    }

    .imagem {
        display: block;
        width: 320px;
    }

    .menu {
        font-size: 1.1em;
        margin: 10px;
    }

    h1 {
        font-size: 4.3em;
    }

    section {
        max-width: 720px;
        font-size: 1.1em;
    }

    footer {
        font-size: 1.1em;
    }
}

@media (min-width: 1024px) {
    .imagemp, .imagemg, .logop {
        display: none;
    }
    .menu {
        font-size: 1.2em;
        margin: 15px;
    }

    h1 {
        font-size: 4.2em;
    }

    .logo {
        display: block;
        width: 150px;
    }
    .imagem {
        display: block;
    }

    section {
        max-width: 800px;
        font-size: 1.2em;
    }

    footer {
        font-size: 1.2em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1280px) {
    .imagemp, .logop {
        display: none;
    }

    h1 {
        font-size: 4.7em;
    
    }
    
    .menu {
        font-size: 1.2em;
        margin: 10px;
    }

    .imagem {
        width: 400px;
    }

    .logo {
        display: block;
    }

    section {
        font-size: 1.3em;
        max-width: 1100px;
    }

    footer {
        font-size: 1.2em;
    }
}