@charset "UTF-8";
/* mobile first  */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Caveat', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
}

@font-face {
    font-family: 'Mali', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Mali:wght@400;500;700&display=swap');
}

@font-face {
    font-family: titulopet;
    src: url(../fontes/American\ Captain.ttf) format(truetype);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: radial-gradient(#9e7c61 20%, #553b33 80%);
    font-weight: bold;
    color: black;
    font-family: 'mali', 'Courier New', Courier, monospace;
}

p {
    
    font-size: 0.9em;
}

h1 {
    font-family: titulopet, arial, sans-serif;
    font-size: 2.8em;
    width: 50%;
    text-shadow: 3px 2px 10px #3a2721;
}


.pic-img {
    display: flex;
    justify-content: center;
}

.cabecalho {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: -30px;
    margin-bottom: -20px;
}

.menu {
    margin: 7px 20px;
    text-align: center;
    font-size: .9em;
}

.menu > a {
    margin-left: 5px;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
    color: rgb(252, 252, 252);
    background-color: rgb(134, 82, 82);
    border-radius: 7px;
    box-shadow: 5px 5px 10px #553b33;
}

a:hover {
    background-color: #9b7272;
}

section {
    max-width: 320px;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: .85em;
}

footer {
    text-align: center;
    font-size: 0.9em;
}
